MYSQL_ROOT_PASSWORD=root
MYSQL_CONTRACT_PASSWORD=app1234
MYSQL_INVENTORY_PASSWORD=app1234
MYSQL_PAYMENT_PASSWORD=app1234

# python3 -c "import uuid, base64; print(base64.urlsafe_b64encode(uuid.uuid4().bytes).rstrip(b'=').decode())"
# 파이썬을 통한 Kafka Cluster_id 생성, 아래는 예시 값
KAFKA_CLUSTER_ID=MkU3OEVBNTcwNTJENDM2Qk